#Caja1 {

    background-color: #ff0000;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Caja2 {
    background-color: #0000ff;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#Caja3 {

    background-color: #008000;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2{
    color: rgb(34, 140, 233);
}

